<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Contact Page</h1>
    <p>To get in touch, email me at <a href="mailto:create@sonnylife.dev">create@sonnylife.dev</a>.</p>
</body>

</html>